@font-face {
font-family: "Bebas";
src:
url("bebas_neue/BebasNeue_Regular.otf") format("opentype"),
url("bebas_neue/TTF/BebasNeue_Regular.ttf") format("truetype"),
}
@font-face {
font-family: "Bebas_Bold";
src:
url("bebas_neue/BebasNeue_Bold.otf") format("opentype"),
url("bebas_neue/TTF/BebasNeue_Bold.ttf") format("truetype"),
}
@font-face {
font-family: "Mission";
src:
url("mission_gothic/Mission_Gothic_Regular.otf") format("opentype"),
}
@font-face {
font-family: "Mission_Italic";
src:
url("mission_gothic/Mission Gothic Bold Italic.otf") format("opentype"),
}
@font-face {
font-family: "Mission_Bold";
src:
url("mission_gothic/Mission Gothic Bold.otf") format("opentype"),
}


.App {
  text-align: center;
  font-family: "Mission";
  background-color: 	#beae7f;
  height:860px;
}

.App-logo {
  position: absolute;
  left:0;
  top:40px;
  height: 100px;
}
#subtitle{
  font-family: "Mission_Italic";
  font-size: 14pt;
}
.App-header {
  background-color: #222;
  height: 150px;
  font-family: "Mission_Italic";
  color: #CA0000;
}

.App-title {
  font-size: 6em;
  color: #CA0000;
}

.App-intro {

  font-size: large;
}

#thermo{
  position: absolute;
  left:20px;
  top:200px;
  width:200px;
  height:600px;
}
.thermo-container {
  width:200px;
  height:600px;
}
#temp_label{
  position: absolute;
  top: 605px;
  left:40px;
}
#temperature_slider{
  background-color: #FF0000;
  position: absolute;
  left: 92px;
  width: 56px;
  height: 50px;
  transition: top 1s, height 1s;
}
.city-text-input {
  background-color: #50a2a7;
  position: absolute;
  left:100px;
}
#text-field{
  position:absolute;
  left:100px;
  width:300px;
  background-color: #50a2a7;
}

.area-text-input {
  background-color: #50a2a7;
  position: absolute;
  left:100px;
}

.instructions{
  position:absolute;
  right: 50px;
  width: 200px;
  font-family: sans-serif;
  font-size:10pt;
}
#graph{
  position: absolute;
  right:0px;
  width:800px;
  top: 400px;
  background-color: #FFFFFF;
  border-color:#CA0000;
  border: 1;
  border-style: solid;
}
#graph_label{
  align-content: center;
  text-align: center;

}
#human{
  position: absolute;
  left:200px;
  margin-top: 80px;
  width:200px;
  height:400px;
}
#credits{
  position: absolute;
  top: 850px;
  left: 0;
}
#est_cost{
  font-size:30pt;
  margin-left:10vw;
  margin-top:10px;
  margin-right:20vw;
  color:#FFFFFF;
  background-color: #CA0000;
  border-style: solid;
  border-color: #000000;
  border-width:thin;
}
#est_energy {
  font-size:30pt;
  margin-left:20vw;
  margin-top:10px;
  margin-right:10vw;
  color:#FFFFFF;
  background-color: #CA0000;
  border-style: solid;
  border-color: #000000;
  border-width:thin;
}
